#smList {
    display: flex;
    justify-content: space-between;
}
.socialMediaDiv{
    width: 500px;
}
.socialMediaDiv ul{
    list-style-type: none;
}
.socialMediaDiv ul li{
    display: inline-block;
}